@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url('./img/leagueoflegends.jpg');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat:unset;
}

.container{
    display: flex;
   
}

.letras{
    font-family: 'Press Start 2P';
    display: flex;
    color: rgb(2, 3, 5);
    text-align: right;
    background-color: rgba(167, 130, 230, 0.8);
    height: 250%;
    width: 85%;
    padding: 40px;
    border-radius: 40px;
    margin: 30px;
    font-size:x-small;
    line-height: 40px;
    flex-direction: column;
}


.E{
    font-family: 'Press Start 2P';
    color: rgb(2, 3, 5);
    text-align: left;
    height: 250%;
    width: 85%;
    padding: 40px;
    margin: 30px;
    font-size:x-small;
    line-height: 40px;
}

ul {
    background-color: thistle;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    position: fixed;
    list-style-type: none;
}


li, .titulo {
    font-family: 'Press Start 2P';
    color: azure;
}

li a{
    display: block;
    float: right;
    height: 100%;
    margin-right: 40PX; 
}

li a:last-child{
    padding-inline: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
}

.titulo {
    position: absolute;
}

h1 {
    font-size: small;
}

.XD {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: medium;
}

.image {
position: relative;
display: flex;
align-items: right;
justify-content: right;
transform: translateY(-527px);
}

img {
width: 80%;
height: 100%;
}